//TODO: ==========>>>> CONVERT PX TO REM AUTOMATICALLY
@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

//TODO: ==========>>>> MEDIA QUERIES
@mixin media-query($size) {
  @if $size == desktop {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else if $size == mobile-mini {
    @media screen and (min-width: 300px) {
      @content;
    }
  }
}

//TODO: ==========>>>> CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  min-height: auto;
}

//TODO: ==========>>>> COLORS
:root {
  //Dark Theme Colors

  --color-dark-100: hsl(235, 24%, 19%);
  --color-dark-200: hsl(234, 39%, 85%);
  --color-dark-300: hsl(233, 14%, 35%);
  --color-dark-bg: hsl(235, 21%, 11%);
  --color-dark-hover: hsl(0, 0%, 100%);

  //Light Theme Colors
  --color-light-100: hsl(0, 0%, 100%);
  --color-light-200: hsl(235, 19%, 35%);
  --color-light-300: hsla(0, 0%, 59%, 0.356);
  --color-light-bg: hsl(0, 0%, 95%);
  --color-light-hover: hsl(0, 0%, 0%);

  //Universal Colors
  --color-100: hsl(220, 98%, 61%);
}
//===== Dark Theme Class
.dark-theme {
  --color-100: var(--color-dark-100); //List component
  --color-200: var(--color-dark-200); //Font Color
  --color-300: var(--color-dark-300); //Color (Completed, delete, margin)
  --color-400: var(--color-dark-bg); //Background component
  --color-500: var(--color-100); // Highlight Color
  --color-600: var(--color-dark-hover); // Button Hover
}
//===== Light Theme Class
.light-theme {
  --color-100: var(--color-light-100); //List component
  --color-200: var(--color-light-200); //Font Color
  --color-300: var(--color-light-300); //Color (Completed, delete, margin)
  --color-400: var(--color-light-bg); //Background component
  --color-500: var(--color-100); // Highlight Color
  --color-600: var(--color-light-hover); // Button Hover
}

//TODO: ==========>>>> BASE

// ==>> Font Family
$main-font: "Josefin Sans", sans-serif;

// ==>> Font Weight
$weight-100: 400;
$weight-200: 700;

// ==>> Shadow
$shadow: rem(0) rem(0) rem(2) rgba(0, 0, 0, 0.158);

body {
  max-width: 100%;
  min-height: 100vh;
  font-family: $main-font;
  font-weight: $weight-100;
  color: var(--color-200);
  background-color: var(--color-400);
}

p {
  font-size: rem(16);
}

.container {
  height: rem(200);
  max-width: 100%;
  padding: rem(30);
  background-color: white;
  background-image: url(../assets/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;

  @include media-query(desktop) {
    height: rem(300);
  }
}

.wrapper {
  // background-color: rgb(80, 61, 61);
  max-width: rem(540);
  min-height: rem(500);
  margin: 0 auto;
}
.header {
  min-height: rem(50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > * {
    flex: 1;
  }

  &__logo {
    h1 {
      text-transform: uppercase;
      font-size: rem(25);
      letter-spacing: rem(10);
      color: white;

      @include media-query(desktop) {
        font-size: rem(40);
      }
    }
  }

  &__theme {
    display: flex;
    justify-content: flex-end;
  }
}

.todo {
  max-width: 100%;
  min-height: rem(100);
  display: flex;
  align-items: center;

  @include media-query(desktop) {
    margin-top: rem(65);
  }

  &__form {
    background-color: var(--color-100);
    flex: 1;
    max-width: 100%;
    height: rem(48);
    border-radius: rem(5);
    box-shadow: $shadow;
    display: flex;
    align-items: center;

    @include media-query(desktop) {
      height: rem(64);
    }
  }

  &__check {
    margin: rem(0) rem(20);
  }

  &__input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: rem(5);
    background-color: var(--color-100);
  }
}

.todolist {
  max-width: 100%;
  min-height: rem(0);
  border-radius: rem(5);
  box-shadow: $shadow;
  background-color: var(--color-100);

  &__item,
  &__menu {
    min-height: rem(48);
    display: flex;
    align-items: center;
    // justify-content: space-between;
    border-bottom: rem(1) solid var(--color-300);

    @include media-query(desktop) {
      min-height: rem(64);
    }
  }

  &__menu {
    border-bottom: none;
    justify-content: space-between;
    padding: rem(0) rem(20);
    border-radius: rem(0) rem(0) rem(5) rem(5);
    background-color: var(--color-100);
  }

  &__main-menu {
    margin-top: rem(20);
    border-radius: rem(5);
    justify-content: space-around;
    box-shadow: $shadow;
  }

  &__delete {
    margin: rem(20);
    text-align: right;

    img {
      width: rem(12);
      height: rem(12);
      cursor: pointer;
    }
  }

  &__instruction {
    margin-top: rem(40);

    p {
      text-align: center;
      font-size: rem(14);
    }
  }
}

.todolist__item-content {
  flex: 2;
  p {
    padding: rem(10) rem(0);
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: rem(14);
  color: var(--color-200);
  font-family: $main-font;
  font-weight: $weight-200;

  &:hover {
    transition: 0.5s ease-in-out;
    color: var(--color-600);
  }
}

.mobile-only {
  @include media-query(desktop) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include media-query(desktop) {
    display: flex;
  }
}
